.profile-popup {
    display: block;

}

.profile-popup__cover {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin-top: 36px;
    opacity: 0.3;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 3;

}

.profile-popup__container {
    width: 100vw;
    height: 100vh;
    margin-top: 36px;
    background-color: #0C0C0C;
    opacity: 1;
    z-index: 3;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;

}

@media screen and (max-width: 600px) {
    .profile-popup__container {
        width: 100%;
    }
}

.profile-popup__close-button {
    position: fixed;
    left: 0px;

    height: 30px;
    background: transparent;
    border: none;
    background-image: url(../../images/X.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 5;
}

.profile-popup__links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 767) {
    .profile-popup__close-button {
        right: 14px;
        top: 14px;
    }
}

.profile__films_popup {
    display: flex;
    flex-direction: column;
    padding-top: 38px;
    margin-bottom: 0;
    gap: 20px
}

.profile-popup__homepage {
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding-left: 20px;
}

.profile-popup__list {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    margin-top: 50px
}

.profile-popup__content-nik {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    color: #FFF;
    margin: 0;
    padding: 0;
}

.profile-popup__content-email {
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: #6B7280;
    margin: 0;
    padding: 0;
}

.profile-popup__exit {
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 45px;
    color: #FFF;
    padding-left: 20px;
}